<!DOCTYPE html>
    <head>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <title>BSS QuoteBot</title>
    </head>
    <body>
        <center>
            <br><br><br><br>
            <h1>Welcome to the BSS Quote Bot</h1>
            <h3>Text (703) 291-3341 for a funny (or nerdy) quote.</h3>
        </center>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
